<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carthageo Test</title>

  <%- include("lib") -%>

  <!-- my designs -->
  <link rel="stylesheet" href="css/design.css">
</head>
<body>

  <div class="container">

    <%- include("nav") -%>

    <h2>Exo4 - Chart JS !!</h2>

    <canvas id="myChart" width="400" height="400"></canvas>

    <h2>Exo3 - Carte geoserver</h2>

    <div id="geomap"></div>
     
    <h2>Exo2 - Carte thématique</h2>

    <div id="usMap"></div>

    <h2>Exo1 - La carte aux canards</h2>

    <div id="carte"></div>

    <%- include("footer") -%>

  </div>

<!-- ici l'ordre est important -->
<script src="js/us-states.js"></script>
<script src="js/top-25.js"></script>
<script src="js/exoleaflet.js"></script>
<script src="js/mychat.js"></script>
</body>
</html>
