<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carthageo Test</title>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <!-- leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <!-- chartjs -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

  <style>
    #carte, #usMap, #geomap { height: 280px; }
    .leaflet-control.info {
      background-color: antiquewhite;
    }
    .leaflet-control.info img { height: 70px;}
  </style>
</head>
<body>

  <div class="container">

    <%- include("nav") -%>

    <h2>Exo4 - Chart JS !!</h2>

    <canvas id="myChart" width="400" height="400"></canvas>

    <h2>Exo3 - Carte geoserver</h2>

    <div id="geomap"></div>
     
    <h2>Exo2 - Carte thématique</h2>

    <div id="usMap"></div>

    <h2>Exo1 - La carte aux canards</h2>

    <div id="carte"></div>

    <%- include("footer") -%>

  </div>

<!-- ici l'ordre est important -->
<script src="js/us-states.js"></script>
<script src="js/top-25.js"></script>
<script src="js/exoleaflet.js"></script>
<script src="js/mychat.js"></script>
</body>
</html>
