<!-- <footer id = "footer">
  <p>&copy; 2021 - Carthageo Test</p>
</footer> -->


<footer class="footer" style="background-color: #4d4d4d;">
  <a class="navbar-brand" href="#">
    <img src="img/bleu.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand" href="#">
      <img src="img/jaune.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand" href="#">
    <img src="img/rouge.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>  
  <a class="navbar-brand" href="#">
  <img src="img/noir.png" width="33" height="33" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand" href="#">
    <img src="img/vert.png" width="30" height="30" class="d-inline-block align-top" alt="">
</a>
<p>&copy; 2021 - Carthageo Test</p>
</footer>