<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gam’Or</title>

  <!--CSS de la page-->
  <link rel="stylesheet" href="/css/design.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <!--CSS de leaflet-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <!--CSS de TYPO-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">

  <!--Chargement de Turf-->
  <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="">

  </script>

</head>
<body>

    <%- include("nav") -%>


  <div class="container">
    <div class="row">
      <div class="col-6">
          <h1 id="titre">Gam’Or</h1>
      </div>
      <div class="col-2"><img id ="olympique" src="img/olympique.png" alt="image pas chargee">
      </div>
      <div class="col-2"><img id ="olympique" src="img/olympique.png" alt="image pas chargee">
      </div>
      <div class="col-2"><img id ="olympique" src="img/olympique.png" alt="image pas chargee">
      </div>
    </div>

    <h2>L’olympic game des 10 meilleurs athlètes de tous les temps </h2>

    <div class="alert alert-primary" role="alert">
    Retrouver la nationalité des dix meilleurs athlètes des JO !! Pour cela cliquer sur un des athlètes puis essayer de trouver son pays d’origine en cliquant sur la carte. Vous pourrez alors découvrir le nombre de médailles d’or gagné par cet athlète, son nom et sa nationalité.
    </div>
    <p>Ladies and gentlemen, LET THE GAM’OR BEGIN, and may the odds be ever in your favor. (attention au game  Or’ver … )</p>

    <!-- On mouseover, les têtes, la phrase-->
    <div class="tete">

         <button onmouseover = "over()" class="button-game" value="192" data-nom="PHELPS, Michael" data-medal="23" data-sport="natation">
           <img class="image" src="img/PHELPS_Michael-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="210"data-nom="LATYNINA, Larisa" data-medal="18" data-sport="gymnastique">
           <img class="image" src="img/NINA-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="210" data-nom="ANDRIANOV, Nikolay" data-medal="15" data-sport="gymnastique">
           <img class="image" src="img/ANDRIANOV_Nikolay-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="91"data-nom="MANGIAROTTI, Edoardo" data-medal="13" data-sport="escrime">
           <img class="image" src="img/MANGIAROTTI_Edoardo-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="93" data-nom="ONO, Takashi" data-medal="13" data-sport="judo">
           <img class="image" src="img/ONO_Takashi-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="210"data-nom="SHAKHLIN, Boris" data-medal="13" data-sport="gymnastique">
           <img class="image" src="img/SHAKHLIN_Boris-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="136"data-nom="BJOERNDALEN, Ole Einar" data-medal="13" data-sport="ski de fond">
           <img class="image" src="img/Ole-Einar-Bjørndalen-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="136"data-nom="DAEHLIE, Björn" data-medal="12" data-sport="biathlon">
           <img class="image" src="img/DAEHLIE_Björn-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="66"data-nom="NURMI, Paavo" data-medal="12" data-sport="athlétisme">
           <img class="image" src="img/Paavo_Nurmi-01.png" alt="" />
         </button>
         <button onmouseover = "over()" class="button-game" value="93"data-nom="KATO, Sawao" data-medal="12" data-sport="gymnastique">
           <img class="image" src="img/Sawao_Kato-01.png" alt="" />
         </button>
    </div>

    <div id= "popupmedal"> </div>
    <div class="alert alert-secondary" role="alert" id= "compteur"> </div>

    <!-- Div de la carte -->
    <div id="mapgame"></div>

    <div class="row">

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/PHELPS_Michael-01.png"> PHELPS Michael :</h5>
          <p> Spécialiste des épreuves de papillon, de nage libre et de quatre nages. Il est le sportif le plus titré et le plus médaillé de l'histoire des Jeux olympiques, avec 28 médailles dont 23 d'or remportées entre 2004 et 2016. Il est également le nageur le plus titré de l'histoire des championnats du monde de natation en grand bassin, avec 26 médailles d'or remportées entre 2001 et 2011. </p>
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/NINA-01.png">LATYNINA Larisa :</h5>
        <p> Gymnaste, elle est la première sportive féminine à avoir remporté neuf titres olympiques. Pendant exactement 48 ans, elle a été la sportive olympique la plus médaillée de l'histoire des Jeux, été et hiver compris, avec 18 médailles (9 d'or, 5 d'argent et 4 de bronze). Ce n'est qu'en 2012, lors des Jeux olympiques d'été de Londres en Grande-Bretagne, que son record fut battu par le nageur américain Michael Phelps.</p>
      </div>

      <div class="col-6">
        <h5><img class="imageinfo" src="img/ANDRIANOV_Nikolay-01.png" alt="" /> ANDRIANOV, Nikolay :</h5>
        <p> Andrianov est l'athlète qui a remporté le plus grand nombre de médailles aux jeux olympiques de Montréal (7 médailles, dont 4 d'or). Avec un total de 15 médailles olympiques (3 à Munich, 7 à Montréal, 5 à Moscou), il est le troisième athlète le plus médaillé de tous les temps. En 2001, Andrianov est honoré par ses pairs en étant membre du « International Gymnastics Hall of Fame »2. Souffrant d'une AMS, il meurt le 21 mars 2011 à 58 ans. </p>
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/MANGIAROTTI_Edoardo-01.png" alt="" /> MANGIAROTTI, Edoardo :</h5>
        <p> Né dans une grande famille d’escrimeurs le 7 avril 1919 Il a remporté plus de médailles olympiques et mondiales qu’aucun autre escrimeur. Son nom est associé à 21 podiums olympiques et mondiaux dont six médailles d’or aux Jeux olympiques entre 1936 et 1960. Edoardo Mangiarotti se retire de la compétition en 1961. Sa carrière olympique a couvert vingt cinq années et lui a permis de finir quarante fois sur le podium.</p>
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/ONO_Takashi-01.png" alt="" /> ONO, Takashi Judoka  :</h5>
        <p>dans la catégorie des moins de 81 kg. Ono est réputé pour son uchi mata (lancer intérieur de la cuisse). Il est également bien connu pour son o uchi gari (grand fauchage intérieur). En 2009-2010, Ono était considéré comme l'un des judoka les plus excitants au monde. Malgré sa popularité, il a perdu sa place aux Jeux olympiques de 2012.</p>
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/SHAKHLIN_Boris-01.png" alt="" /> SHAKHLIN, Boris :</h5>
        <p>La première médaille d'or qu'il a remportée aux Jeux olympiques de 1956 à Melbourne. Il a remporté la compétition sur le cheval et dans l'équipe. Il a participé à douze olympiades. Il a remporté 97 médailles en participant activement à des compétitions jusqu'à 35 ans ! Dans les années soixante-dix, il a été élu vice-président du comité technique de la Fédération internationale de gymnastique.</p>
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/Ole-Einar-Bjørndalen-01.png" alt="" /> BJOERNDALEN, Ole Einar :</h5>
        <p> Il fut l'athlète le plus médaillé des Jeux olympiques d'hiver avec treize médailles gagnées entre 1998 et 2014 jusqu’à ce que le record soit battu par sa compatriote skieuse de fond Marit Bjørgen en 2018. Il possède le plus grand palmarès de l'histoire du biathlon : huit titres olympiques, dont les quatre mis en jeu lors de l'édition de Salt Lake City en 2002, vingt titres mondiaux, dont onze titres individuels et six gros globes de cristal, trophées récompensant la victoire au classement général de la Coupe du monde. Il est le sportif le plus titré de l'histoire du ski !
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/DAEHLIE_Björn-01.png" alt="" /> DAEHLIE, Björn :</h5>
        <p> Bjørn Dæhlie remporte à six reprises le classement général de la Coupe du monde, et obtient 81 podiums individuels, dont 46 victoires, en 117 départs, ce qui est le record pour un fondeur masculin. Il détient douze médailles olympiques, dont huit titres, ce qui fait de lui le fondeur le plus titré aux Jeux. Ces douze médailles, obtenues en trois éditions, en 1992, 1994 et 1998, constituent jusqu'aux Jeux olympiques de 2014 à Sotchi, le record pour un sportif des Jeux d'hiver.</p>
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/Paavo_Nurmi-01.png" alt="" /> NURMI, Paavo :</h5>
        <p>Il règne sur le plan mondial durant près de quatorze ans comme athlète. Lors de sa carrière, il établit vingt-deux records du monde, du 1 500 m au 20 000 m, et remporte douze médailles lors des Jeux olympiques, dont neuf titres, devenant ainsi l'athlète le plus médaillé de ce sport.  Nurmi est considéré comme l'un des précurseurs de nouvelles méthodes d'entraînement. Suspendu à vie en 1932 par la Fédération internationale d'athlétisme pour avoir enfreint les règles de l'amateurisme, il est le dernier porteur de la flamme lors des Jeux olympiques d'été de 1952 à Helsinki.</p>
      </div>

      <div class="col-6">
        <h5> <img class="imageinfo" src="img/Sawao_Kato-01.png" alt="" /> KATO, Sawao :</h5>
        <p>Gymnaste, en trois olympiades, il remporte douze médailles dont huit en or. Il remporte deux titres consécutifs du concours général, en 1968 à Mexico et en 1972 à Munich, et la compétition par équipes lors des trois éditions. Il remporte également le concours du sol en 1968 et à deux reprises les barres parallèles, en 1972 et en 1976 à Montréal. Il est introduit au Hall of Fame de la gymnastique en 2001. Il est le frère du gymnaste Takeshi Katō avec lequel il remporte le titre par équipe à Mexico. </p>
      </div>

    </div>

    <%- include("footer") -%>

  </div>

<!-- Liens vers les js -->
<script src= "js\game.js" ></script>
<script src= "js\USstates.js" ></script>

</body>
</html>
