<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carthageo Test</title>

  <%- include("lib") -%>

  <!-- my designs -->
  <link rel="stylesheet" href="css/design.css">

</head>
<body>

  <div class="page">

    <%- include("nav") -%>

    <div class="page-content">

      <div class="header" id="cthg-header">
        <h1>Cartagéos & Co.</h1>
        <h2>The most Beautifull & Powerfull Webmapping applications of the world</h2>
        <button class="btn-anchor" data-id="begin">Start the experience</button>
      </div>
    
      <div class="container">
    
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>premier contenu</p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p>deuxieme contenu</p>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <p>dernier contenu</p>
          </div>
        </div>

        <div id="begin"></div>

        <%- include("part_lorem") -%> 
    
      </div>

      <%- include("footer") -%>

      <button id="go-to-header" class="btn-anchor" data-id="cthg-header">Haut de la page</button>

    </div>

  </div>
<script src="js/home.js"></script>
</body>
</html>
