<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carthageo Test</title>

  <%- include("lib") -%>

  <!-- my designs -->
  <link rel="stylesheet" href="css/design.css">

</head>
<body>

  <div class="page">

    <%- include("nav") -%>

    <div class="page-content">

      <div class="header">
        <h1>Cartagéos Project</h1>
        <h2>The most Beautifull && Powerfull Webmapping applications</h2>
      </div>
    
      <div class="container">

        <form id='formu' action="#" method="get">
          <input type="text" name="ville" value="">
          <input type="submit" name="valide" value="OK">
          <select name="age">
            <option value="20">0-20 ans</option>
            <option value="40" selected>21-40 ans</option>
            <option value="60">41-60 ans</option>
            <option value="80">61-80 ans</option>
          </select>
        </form>

            
        <div id="logo"></div>

        <p>A venir la carte !!</p>

        <p>Ici les resultats de la recherche</p>
        <div id="result"></div>
        <div id="map"></div>

        <%- include("part_lorem") -%> 
    
      </div>

      <%- include("footer") -%> 

    </div>

  </div>

  <script src="js/map.js"></script>
</body>
</html>
