<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Carthageo Test</title>

  <!--CSS de la page-->
  <link rel="stylesheet" href="/css/design.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <!--CSS de TYPO-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">

  <!--CSS de leaflet-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script src="https://unpkg.com/@turf/turf@3.5.2/turf.min.js"></script>

</head>
<body>
  <%- include("nav") -%>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>L'Olympe à travers le temps</h1>
      </div>
      <div class="col-2"><img id ="olympique" src="img/olympique.png" alt="image pas chargee">
      </div>
      <div class="col-2"><img id ="olympique" src="img/olympique.png" alt="image pas chargee">
      </div>
      <div class="col-2"><img id ="olympique" src="img/olympique.png" alt="image pas chargee">
      </div>
      <p><div id = 'txt'>
          <div></div> Tous les quatre ans les jeux olympiques d’été sont l'occasion de regrouper les pays et leurs peuples, de fédérer, mais aussi de montrer sa suprématie.  Tradition venant de la Grèce antique, les premiers  JO modernes d’été ont eu lieu à Athènes en 1896. La carte ci-dessous montrant l’évolution du nombre de médailles d’or gagné par pays témoigne des transformations historiques et politiques du XXè siècle entre Est et Ouest à travers les JO modernes.
      </div> </p>

    <div id="result"></div>

    <div id="map_home"></div>

<!-- Appel des bouttons années -->
  <div id = "button">

      <button class = "button" id = "mille48">1948</button>
      <button class = "button" id = "mille52">1952</button>
      <button class = "button" id = "mille56">1956</button>
      <button class = "button" id = "mille6">1960</button>
      <button class = "button" id = "mille64">1964</button>
      <button class = "button" id = "mille68">1968</button>
      <button class = "button" id = "mille72">1972</button>
      <button class = "button" id = "mille76">1976</button>
      <button class = "button" id = "mille8">1980</button>
      <button class = "button" id = "mille84">1984</button>
      <button class = "button" id = "mille88">1988</button>
      <button class = "button" id = "mille92">1992</button>
      <button class = "button" id = "mille96">1996</button>
      <button class = "button" id = "deuxmille">2000</button>
      <button class = "button" id = "deuxmillequatre">2004</button>
      <button class = "button" id = "deuxmillehuit">2008</button>
      <button class = "button" id = "deuxmilledouze">2012</button>
    </div>

    <p>
        <div class="alert alert-primary" role="alert" id = "alert">
          Clique sur l’année de ton choix pour découvrir la carte du monde des médailles d’or des Jeux Olympiques d’été puis passe sur les cercles pour connaître le résultat exact.
        </div>
    </p>

    <%- include("footer") -%>

  </div>
<!-- <script src="js\medal_summer_or.js"></script> -->
<script src= "js\medal_summer_or.js" ></script>
<script src= "js\map.js" ></script>


</body>
</html>
