<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/P1">L'avant guerre</a></li>
  <li role="presentation"><a href="/P2">Les deux guerres</a></li>
  <li role="presentation"><a href="/P3">Tensions mondiales</a></li>
  <li role="presentation"><a href="/P4">Vers un monde apaisé?</a></li>
</ul>
