<!-- Logo -->
<style media="screen">
  #logo {background-color:white;}
</style>
<div id="logo">
  <h1><a href="/"><img id = "logo_olympic" src="img/logo.png" alt="image pas chargee" height = 80px></a></h1>
</div>
<!-- Nav -->
<nav id="nav">
  <ul>
    <li role="presentation"><a href="epreuve">Médailles</a></li>
    <li role="presentation"><a href="participation">Participation</a></li>
  </ul>
</nav>
