<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Accueil</a></li>
  <li role="presentation"><a href="/P1">Le commencement</a></li>
  <li role="presentation"><a href="/P2">Entre deux guerres</a></li>
  <li role="presentation"><a href="/P3">Rivalités et tensions</a></li>
  <li role="presentation"><a href="/P4">XXI siècle</a></li>
</ul>
