<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #4d4d4d;">
  <a class="navbar-brand" href="#">
    <img src="img/JOLOGO.png" width="130" height="50" class="d-inline-block align-top" alt="">

  </a>
  
  <a href="/">Accueil</a>
  <a href="/particip">Participation</a>
  <a href="/medailles">Medailles</a>

  
  <a class="navbar-brand" href="#">

      <img src="img/logoPA.png" width="120" height="50" class="d-inline-block align-top" alt="">
  </a>
</nav>

