<ul class="nav nav-pills">
  <li role="index"><a href="/"><img id = "logo_olympic" src="img/logo.png" alt="image pas chargee" height = 40px></a></li>
  <li role="presentation"><a href="epreuve">Épreuve</a></li>
  <li role="presentation"><a href="participation">Participation</a></li>
</ul>
