<ul class="cthg-navigation nav nav-pills">
  
  <li class="main">
    <a href="/">
      <img src="img/logo.png" alt="image pas chargee">Carthagéos & Co.
    </a>
  </li>

  <li role="presentation"><a href="/">Webmappings projects</a></li>
  <li role="presentation"><a href="/map">Outils et ressources</a></li>

  <li class="separator"></li>

  <li role="presentation"><a href="#">Qui sommes nous ?</a></li>
</ul>
