<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/bloc">
    <div style="float: left;">
      <img src="img/star.png" style="height: 20px; margin-right: 10px;">
  </div>
    Eastern Bloc and their legacy</a></li>
  <li role="presentation"><a href="/hel">
    <div style="float: left;">
      <img src="img/hel52.png" style="height: 20px; margin-right: 10px;">
  </div>
    Helsinki, 1952</a></li>
  <li role="presentation"><a href="/mos">
    <div style="float: left;">
      <img src="img/mos80.png" style="height: 20px; margin-right: 10px;">
  </div>
    Moscow, 1980</a></li>
  <li role="presentation"><a href="/la">
    <div style="float: left;">
      <img src="img/la84.png" style="height: 20px; margin-right: 10px;">
  </div>
    Los Angeles, 1984</a></li>
</ul>
