<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" href="/map">Carte</a></li>
    <li class="nav-item"><a class="nav-link" href="/olympics">Graphiques</a></li>
    <li class="nav-item"><a class="nav-link" href="/game">Jeux</a></li>
  </ul>
</nav>
