<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>première participation</title>
    <style media="screen">
      #carte {weight : 200px}
    </style>
  </head>
  <body>
    <h2>Comment les frontières ont fait évolué les particpations aux JO</h2>
    <p>A travers, l'histoire les frontières ont changés et on a pu remarqué que les participations aux JO y sont liés. Vous pouvez le voir sur cette carte interactive :
    </p>
    <div class="frise" id="frise">
            <p id="1896">1896</p> <p id="1914">1914</p> <p id="1945">1945</p> <p id="1964">1964</p> <p id="1992">1992</p>
    </div>
    <div class="carte" id="carte">
      <p>Ici la carte</p>
    </div>
  </body>
</html>
