
#medal { 
  height: 500px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;

}

#cadre {
  background-color: #F2EBEB;
  margin-right:312px;
  margin-left:312px;
}
.command {
    padding: 4px 6px;
    background: white;
    font: 10px/12px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: 200px;
}

.card-header {
  padding: 5px;
}

#result, #myChart {
  width: 600px;
  max-height: 600px;
}

#gif1.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px }

#imgfin {
  padding-bottom: 10px;
  text-align: center;
}
#gif2.displayed {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#txtfin {
  background-color : #4d4d4d;
  padding:20px;
}

#txtfin p {
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
  color : white;
}
#txtfin h6 {
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
  color : white;
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 40px;
}
