#grid{
  display: grid;
  grid-template-columns: 400px 1fr;
}
#grid > * {
  padding : 20px;
}
#one, #three, #five{
  background-color : #ddd3d3e7;
  box-shadow: 1px -2px 16px #4d4d4d45;

}
#one{
  grid-column: 1;
  grid-row: 1;
}
#marge{
  padding-top: 90px;
  padding-bottom: 20px;
}
#txtmarge, #paritetxt, #portraitxt{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 200%;
  color: #4d4d4d;

}

#two{
  grid-column: 2;
  grid-row: 1;
}

#three{
  grid-column: 1;
  grid-row: 2;
}
#parite {
  padding-top: 60px;
  padding-bottom: 20px;
}

#four{
  grid-column: 2;
  grid-row: 2;
}
#five{
  grid-column: 1;
  grid-row: 3;
}
#six{
  grid-column: 2;
  grid-row: 3;
}

#view2 {
  display:flex;
}

#participmap { 
  height: 500px;
  width: 1000px;
  margin-left: 10px;
  margin-top: 0px;
}
#txt {
  height: 600px;
  width: 900px;
  margin-right: 0px;
  margin-top: 0px;
}
#graphgender {
  width: 900px;
  height: 500px;
  margin: 0;
  padding: 0;
}

.leaflet-top.leaflet-right {
  background: white;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
  padding-bottom: 30px;
  padding-top: 5px;
  margin: 5px;

}

.slider.leaflet-control {
  background:white;
  border : 1px solid black;
  border-radius : 5px;

}

.ui-slider-handle {
  background: url("../img/summer.png"), white;
  background-size: contain;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: url("../img/summer.png"), white;
  background-size: contain;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/* BLOCK DE TEXTE */

#introcadre {
  background-color : #4d4d4d;
  /* margin : 50px; */
  padding:20px;
}

#introcadre p {
  text-align: justify;
  color : white;
}

#two #cadre {
  background-color: #F2EBEB;
  margin-right: 70px;
  margin-left: 10px;
}

#six .row .col .port {
  height: 435px;
}

/* #six .row{
  padding-top: 40px;
} */

#portrait{
  padding-top: 20px;
}

#portraitxt{
  padding-top: 20px;
}

.legendannee {
  padding: 6px 8px;
  font-size: 14px/16px;
  font-family: 'Rubik', sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}

.legendannee i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;

}

.legendannee i.carre {
  background-size: 15px;
  background-color: rgba(255, 255, 255, 1); 
}